*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}
main{
    height: 100%;
    width: 100%;
    
}

header{

    width: 100%;
    height: 100vh;
     background: rgb(7, 7, 28); 
    /* background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)),url('boy2.jpg'); */
    background-size: cover;

 background-position: left;
    color: #fff;
    overflow: hidden;
    
}
.crsr{
    width: 100px;
    height: 100px;
    background: rgb(44, 43, 43);
    text-align: center;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: #fff6f6;
    position: absolute;
    scale: 0;
    opacity: 0;
    mix-blend-mode: difference;
    overflow-x: hidden;
}
nav{
    width: 100%;
    height: 15vh;
    border-bottom: 2px solid #36005f;
    display: flex;
   position: fixed;
    background-color: #130f17;
    justify-content: space-between;
    align-items:center;
    z-index: 1;
   
    
}
.logo h1{
    font-size:2vw;
    padding: 20px;
    letter-spacing: 2px;
}
.logo h1  span{
    color: red;
}

.menu a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5vw;
    margin-right: 40px;
    font-weight: 700;
}

.menu a:hover{
    color:  rgb(149, 0, 255);
    transition: all .4s;
}

.menu a:nth-child(1){
    color:  rgb(149, 0, 255);
    
}

.page1{
    width: 100%;
    height:85vh;
    /* background: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.page1 .left{
      /* background: blue; */
      flex-basis: 50%;
      height: 100%;
      padding-left: 5vw;
      padding-top: 20vw;
      /* display:flex ;
      justify-content: center;
      align-items: center;
      flex-direction: column; */
      
      
}

.left p{
    text-align:justify;
    font-size: 2.6vw;
    line-height:60px;
 
}

.left h1{
    line-height:60px;
    font-size: 3vw;
}
.left h1 span{
    color: red;
}
.page1 .right{
    /* background: rgb(125, 255, 61); */
    flex-basis: 50%;
    height: 100%;
    padding: 9vw;
}

.right img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: none;
}
.hrl{
    color: #36005f;
}

.page2{
    width: 100%;
    height: 100vh;
    color: rgb(255, 251, 251);
    /* background: rgb(20, 20, 49); */
    background: rgb(7, 7, 28);
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    
    grid-template-rows: 1fr;
    grid-template-areas:"info image" ;
}
.info{
    /* background: red; */
    grid-area: info;
    /* padding: 4vw; */

}
.image{
    /* background: rgb(0, 255, 234); */
    grid-area: image;
    padding: 8vw;
}

.info h1{
    text-align: center;
    font-size: 4vw;
    padding: 2vw;
}
.info p{
    font-size: 1.7vw;
    padding: 2vw 5vw;
    opacity: .7;
}
.info p{
   letter-spacing: 1.1px;
   text-align: justify;
}

.image img{
    width: 100%;
    height: 50%;
   object-fit: cover;
    border-radius:20px;
}


.skills{
    width: 100%;
    height: 100vh;
    background:rgb(7, 7, 28);
    color:white;
    padding: 2vw;
    overflow: hidden;
    
}

.skills h1{
    text-align: center;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
.lang{
    width: 50%;
    height: 90%;


}

.lang h2{
    color: #fff;
    text-align: center;
   padding-left: 1vw;
    
}
.lang i{
    font-size: 3vw;
    padding-left: 4vw;
   color: rgb(149, 0, 255);
}
.t{
    display: flex;
    
    padding: 4vw;
}

 .tools{
    width: 50%;
    height: 90%;
    /* padding: 4vw; */
 /* background-color: yellow; */
}
.tools h2{
    color: #fff;
    text-align: center;
   padding-left: 1vw;
    
}
.tools i{
    font-size: 3vw;
    padding-left: 4vw;
   color: rgb(149, 0, 255);
}


.skill-icon{
   width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
   

}
.sec-i{
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.sec-i i,.tools .skill-icon i{
    margin-top: 2vw;
}
.line{
    width: 330px;
    margin-top:1vw ;
    height: 5px;
    margin-left: 170px;
    border-radius: 2px;
    background:rgb(149, 0, 255);
}

.education{
    width: 100%;
    height: 100vh;
    background:rgb(7, 7, 28);
    overflow: hidden;
    
}
.education h4{
    text-align: center;
    color: rgb(149, 0, 255);
    font-size: 3vw;
    padding: 2vw;
}
.edu{
    height:80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30vw 0 30vw;
}
.edu .l{
    width: 50%;
    height: 100%;
    /* background-color: red; */
    border-right: 5px solid rgb(149, 0, 255);
    border-radius: 2px;
}
.edu .r{
    width: 50%;
    height: 80%;
    /* background-color: rgb(0, 255, 166); */
}
.l p{
    font-size: 1.8vw;
    padding-left: 4vw;
    color: #fff;
}
.bca-p,.s-name,.jr-name{
    font-size: 1.7vw;
    opacity: .6;
    margin-top: 10px;
    color: #fff;
    
}
.jr-name{
    padding-left: 1vw;
}

.r .tw-p{
    font-size: 2vw;
    padding-right: 2.1vw;
    color: #fff;
    padding-top: 9vw;
    padding-left: 1vw;
}
.next .ten-p{
    margin-top: 13vw;
    color:#fff;
}

.footer{
    width: 100%;
    height: 100vh;
    background: rgb(7, 7, 28);
    overflow: hidden;
    
}
.footer h5{
    color: #fff;
    text-align: center;
    font-size: 3vw;
   padding-top: 1vw;
}
.footer .con-info{
    width: 100%;
    height: 37vh;
    /* background: red; */

}
.footer .foo-info{
    width: 100%;
    height: 37vh;
    /* background: #fff; */
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: 0 4vw;
}
.foo-info h1, .foo-info p{
    color: #fff;
    padding: 1vw;

}
.foo-info a{
    text-decoration: none;
    color: #fff;
    font-size: 1.8vw;
    margin-left: 8px;
}
.foo-info i{
    color: #fff;
    margin-left: 20px;
    font-size: 2vw;
}



.copy{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    padding-top: 2vw;
    
}

 .con-info{
    margin-top: 2vw;
    display: flex;
    justify-content:center;
    align-items:self-start;
    flex-direction: column;
    padding-left: 15vw;
} 

 .con-info i{
    color: rgba(149, 0, 255);
    font-size: 2.4vw;
}
.con-info span{
    color: #fff;
    font-size: 1vw;
    padding-left: 1vw;
} 





@media only screen and (max-width:600px) {
     
    .menu a{
     
        
        margin-right: 20px;
        font-weight: 700;
    }
    nav{
        /* position: absolute; */
    }
    .crsr{
        display: none;
    }
    #Qalification-hidden{
        display: none;
    }
    .logo h1{
        
        letter-spacing: 1px;
    }
    header{
        height: 70vh;
    }
.page1 .left{
    height: 100%;
    flex-basis: 100%;
    /* background-color: aqua; */
    
}
.left p{
    padding-top: 40vw;
    font-size: 6vw;
    line-height:32px;-
}
.left h1{
    line-height:49px;
    font-size: 7vw;
}

.right img{
    
    /* flex-basis: 100%;
    height: 40vh;
    padding:0;
    */
    display: none;
}
.page1 .right{
    /* background: rgb(125, 255, 61); */
   padding: 0;
    height:0;
    
}
.page1{
    height: 50vh;
}

.page2{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:"info" "image" ;
}
.info p{
    padding: 2vw 8vw;
    font-size: 4vw;
}
.info h1{
    font-size: 6vw;
}
.t{   
    padding: 0;
    
    display: flex;
}
.t i{
    margin-top: 1vw;
    font-size: 7vw;
}
.container{
    height:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.lang{
    height: 50%;
    width: 100%;
    padding: 0 4vw;
}
.tools{
    height: 30%;
    width: 100%;
    padding: 0 4vw;
}

.lang i{
    font-size: 5vw;
    padding-left:0;
   color: rgb(149, 0, 255);
}
.line{
    width: 290px;
    margin-top:1vw ;
    height: 5px;
    margin-left:25px;
    border-radius: 2px;
    background:rgb(149, 0, 255);
}
.skill-icon,.sec-i{
    width: 100%;
     display: flex;
     justify-content:space-between;
     align-items: center;
     padding-right: 10vw;
    padding-top: 5vw;
    padding-left: 8vw;
}
.tools i{
    font-size: 5vw;
}
    
.edu .l{
   
    height: 59%;
   
}
.edu .r{
 height: 41%;
}
.education{
  height: 64vh;
}
.next .ten-p{
    margin-top: 22vw;
   
}

.footer .foo-info{
 
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 0 4vw;
    padding-right: 33vw;
}
.foo-info .links, .foo-info .social{
    padding-right: 14vw;
    padding-top: 8vw;
   
}
.foo-info i, .foo-info a{
 
    font-size: 4.1vw;
}
.copy{

    padding-top: 24vw;
}
.footer h5{
font-size: 9vw;
}
.con-info i{
   font-size: 7vw;
}
.con-info span{
 
    font-size: 3vw;
   
} 

.con-info{
    padding-left: 5vw;
}


 }
